page-passenger-details {
	.page-section 		{ padding: 20px 0px; }
	h3 					{ margin: 0px 0px 30px; font-size: 20px; line-height: 26px; color: $theme-color; font-weight: 600; }
	ion-list.form-section .item-block ion-input input 	{ text-align: left; }
	.select .select-icon 		{ height: 28px; }
	.label 				{ color: $theme-color; } 
	.select-text 		{ color: #787878; }
}
