page-search-bus {
	.page-section 					{ padding: 80px 0px 50px; }
	ion-item.map-icon 				{ margin-top: 15px; padding-top: 32px; background: url("../assets/imgs/map-icon.png") no-repeat top center; }
	/*ion-item.map-icon:after 		{ content: "rajjjj"; position: absolute; display: block; width: 50px; height: 50px; top: 0px; left: 0px;   }*/
	ion-datetime.datetime 			{ margin: 50px 0px 20px; padding: 12px 15px; width: calc(100% - 8px); border: 2px solid #b4b4b4; text-align: center; } 
}
