page-filter-amentities {
	ion-navbar.toolbar .right-btn { font-size: 35px; }
	ion-list.form-section .item-block button 				{ border-top: 1px solid #b4b4b4; }
	ion-list.form-section .item-block:last-child button 	{ border-bottom: 1px solid #b4b4b4; }

}
