page-payment-success { 	text-align: center;
	.page-section 		{ padding: 30px 0px; }
	.payment-logo 		{ margin-bottom: 30px; }
	h3 					{ margin: 0px 0px 10px; font-size: 22px; line-height: 32px; color: $theme-color; font-weight: 600; }
	h4 					{ margin: 0px 0px 20px; font-size: 18px; line-height: 24px; color: #b4b4b4; }
	.back-link 			{ margin: 0px 0px 40px; font-size: 14px; line-height: 20px; color: #ff6500; font-weight: 600; display: block; text-transform: capitalize;}
}
